body {
 background-color: #000000;
 height: 100%;
 width: 100%;
}
p {
 width:100%;
 font-family:Florence,cursive;
 font-style:italic;
 font-weight:bold;
 position: static;
 text-align:center;
 text-shadow: 5px 2px 4px grey;
 font-size: x-large;
 color:green;
 background-color:blue;
} 

